header h1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    margin-block-end: .25em;
}

header h4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-block-start: .5em;
}
